<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /production_build/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>

# Ensure index.html is prioritized over index.php
DirectoryIndex index.html index.php

# Prevent directory listing (which can cause 403 Forbidden errors)
Options -Indexes
